.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin:30px 0;
}
.hero-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 0 30px 0 0;
}
.cart-container{
    background-color: brown;
    color:antiquewhite; 
    padding: 0 15px;
    position: sticky;
    top:0;
    height: 30%;
}
.cart-container h1{
    font-size: 24px;
}
 .cart-container .cartItems{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin:10px ;
    }
.cart-container .cart-btn-container{
    display: flex;
    flex-direction: column;
    gap:2px;
}
.cart-container .cart-btn-container .cart-btn{
padding: 10px;
font-size: 13px;
font-weight: 600;
background-color: antiquewhite;
background-color:rgb(1, 17, 31);
color:antiquewhite;
border:none;
}
.cart-container .cart-btn-container .cart-btn:hover{
padding: 7px;
font-size: 15px;
background-color: antiquewhite;
color:brown;
}
.display-none{
    display: none;
}



@media screen and (min-width:768px) and (max-width:1023px) {
    .main-container{
        grid-template-columns: 5fr 2fr;
    }
    .hero-container{
        grid-template-columns: repeat(2,1fr);
    }
    .cart-container{
        height: 30%;
    }
    .cart-container h1{
        font-size: 17px;
    }
    
}
@media screen and (max-width:767px) {
.main-container{
    grid-template-columns: 3fr 1fr;
    
}
.hero-container{
    grid-template-columns: repeat(1,1fr);
}
.cart-container h1{
    font-size: 12px;;
}
.cart-container .cart-btn-container .cart-btn{
    font-size: 10px;
}

}